@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

@page {
  /* 15x23cm */
  size: 21cm 21cm;
  margin-top: 1.5cm;
  margin-bottom: 1.5cm;
  margin-left: 2cm;
  margin-right: 2cm;

  @bottom-center {
    content: counter(page);
    font-family: Georgia, serif;
    font-size: 0.8rem;
    margin-bottom: 0.2in;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}

.cover {
  page: fullpage;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover h1 {
  position: absolute;
  bottom: 1cm;
  right: 0;
  width: 100%;
  padding: 0.6cm 0 0.8cm 1.2cm;
  color: white;
  text-align: left;
  font-weight: 300;
  font-size: 2.2rem;
  background: rgba(0, 0, 0, 0.7);
}

@page fullpage {
  margin: 0; /* Use a full size page */

  /* Remove page numbers for the cover */
  @bottom-center {
    content: none;
  }
}

body {
  margin: 0;
  font-family: 'Gill Sans', sans-serif;
  font-size: 14px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: inherit;
}

.toc .toc-chunk {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.1cm;
  margin-right: -0.1cm;
  font-size: 12px;
  page-break-after: always;
}

.toc .toc-chunk .recipe {
  flex: 0 0 24.9%;
}

.toc .toc-chunk .recipe .recipe-content {
  margin: 0.1cm;
  margin-bottom: 0.4cm;
}

.toc .toc-chunk .recipe .picture {
  max-width: 100%;
}

.toc .recipe-link {
  display: block;
  font-weight: 500;
  font-size: 10px;
}

.toc .recipe-link::after {
  content: " p." target-counter(attr(href url), page);
  font-weight: normal;
  color: #294aa2;
  font-size: 11px;
}

.index {
  column-count: 5;
  column-gap: 0.5rem;
  font-size: 10px;
}

.index .letter {
  font-weight: 700;
  border-bottom: 1px solid gray;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  page-break-after: avoid;
}

.index .ingredient-name {
  font-weight: 500;
}

.index .ingredient-name::after {
  content: " ";
}

.index a {
  color: inherit;
  font-weight: normal;
}

.index a + a::before {
  content: ' ';
}

.index a::after {
  content: target-counter(attr(href url), page);
}

img {
  display: block;
  width: 13cm;
}

.page {
  page: fullpage;
  page-break-after: always;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 0.2rem;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.recipe {
  page-break-before: verso;
}

.recipe header {
  page-break-after: always;
}

.recipe header img {
  width: 100%;
}

.recipe .content {
  display: flex;
}

.recipe ul.prepartion-times {
  list-style-type: none;
  margin-bottom: 1.2rem;
}

.recipe ul.prepartion-times li + li {
  margin-left: 3rem;
}

.recipe ul.prepartion-times li {
  display: inline-block;
}

.recipe .ingredients {
  margin-top: 1rem;
}

.recipe .ingredients ul {
  column-count: 2;
}

.recipe .ingredients .number {
  font-weight: bold;
}

.recipe .ingredients .number::after {
  content: " ";
}

.recipe .ingredients .quantity::before {
  content: " (";
}

.recipe .ingredients .quantity::after {
  content: ")";
}

.recipe .content .steps {
  flex-grow: 1;
}

.recipe .content .steps h4 {
  padding: 0;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

.recipe .content .steps ul {
  list-style: none;
}

.back-page {
  page: fullpage;
  page-break-before: recto;
}

.back-page p {
  position: absolute;
  right: 1cm;
  bottom: 1cm;
  font-size: 10px;
}
